#myTable {
  border: 1px solid #ddd;
  font-size: 12px;
  text-align: center;
}
th,
td {
  padding: 7px;
}
#myInput {
  padding: 2px;
  width: 46%;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
* {
  box-sizing: border-box;
}
